.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: unset !important;
}

.center .swiper-slide-active {
    border: 3px solid red;
}

.center .swiper-slide-next,
.center .swiper-slide-prev {
    border: 3px solid green;
}

.contact-btn {
    padding: 12px 32px 12px 32px;
    border-radius: 261px;
    border: 0;
    outline: 2px solid transparent;
    transition: all .3s linear;
    background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
}

.contact-btn:hover {
    background: transparent;
    outline: 2px solid white;
}

.cube .swiper,
.card .swiper {
    max-width: 300px;
}

.card .swiper-slide {
    width: 300px !important;
}